/* Isso serve para resetar tudo da pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* reseta os links do projeto, tirando o sublinhado e a cor do link */
a{
    text-decoration: none;
    color: inherit;
}

/* escopo global, necessita do uso de : sempre que for chamar ele */
:root{
    --primary-color: #da6200;
    --secondary-color: #000000;

}

body{
/* 100vh significa que o tamanho da tela vai ser completo */
/* 100% É  a altura do pai */
 /* serve para chamar a cor no root */
 /* body é o pai de todos, tud que estiver aqui vai ser erdado */
    height: 100vh; 
    background-color: var(--primary-color); 
    display: flex;
    flex-direction:column;
    padding-inline: 50px;
    font-family: "Baskervville SC", serif;
}


header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
header div{
    display: flex;
    gap: 24px;
}

/* pai dos 2 elementos */
header a{ 
    display: flex;
    align-items: center;
    height: 70%;
    gap: 16px;
    font-size: 30 px;
    color: var(--secondary-color);
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    color: white;
    text-align: center;
    position: relative;
}

.title h1{
    font-size: 20vw;
}
.title span{
    position: absolute ;
    font-size: 30vw;
    top: -50%;
    left: 0;
    opacity: 0.3;
}
.container{
    display: flex;
}
.description{
    width: 50%;
    color: var(--secondary-color);
}
.description h2{
    font-size: 64px;
}

.description p{
    font-size: 20px;
    width: 500px;
    z-index: 1;
}
.action{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action a{
    background-color: var(--secondary-color);
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
}

footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(#ff6a00);
    font-style: italic;
}

.Raichu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    height: 60vh;
}